@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #18273E;
    color: #fff;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 20px;
    top: 0;
    position: relative;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}
button svg{
    width: 30px;
    height: 30px;
    color: #fff;
}

.nav-item{
    display: inline-block;
    list-style: none;
}
.nav-item a{
    color: #fff;
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 4px;
    transition: background-color .3s ease ;
}

.nav-item a:hover{
    background-color: #0072ff;
    
}

@media only screen and (max-width: 600px)
{
    .hide{
        display: none;
    }
    .show{
        display: inline-block;
    }
    button{
        display: inline-block;
    }
    .nav
    {
        position: absolute;
        background-color: #18273e;
        top: 71px;
        width: 100%;
        left: 0;
        border: 1px solid grey;
    }
    .nav-item
    {
        display: block;
        text-align: center;
    }
    .nav-item a{
        padding: 20px 30px;
        display: block;
    }
}
